body{
  background-color: #282c34;
  background-image: url(https://images.cdn1.stockunlimited.net/preview1300/cinema-background-with-movie-objects_1823387.jpg);
}
.tunibest {
  text-align: center;
  font-family: 'Papyrus', fantasy;
  font-weight: 600;
  font-size: 40px;
  color: gold;
}
/* search  */

.search-container {
  margin: 40px 0px;
  display: flex;
  justify-content: center;
}
.search-container input {
  width: 60%;
  border-radius: 25px;
  border: 1px solid lightgray;
  color: grey;
  padding-left: 10px;
  padding: 8px 0 8px 10px;
}
.search-container input:focus {
  outline: 0;
}
.star-rating {
  font-size: 24px;
  padding-left: 10px;
}
/* movie card */
.Movie-Container {
  border: 1px solid rgba(211, 211, 211, 0.8);
  box-shadow: lightgray;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 250px;
  height: 550px;
  overflow: hidden;
  margin: 30px 40px;
  transform: scale(0.95);
  transition: all 0.5s;
  background-color: #1e1b26;
  overflow: hidden;
}
.Movie-Container:hover{
  box-shadow: 0 5px 10px -12.125px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}
img {
  width: 250px;
  height: 375px;
}
.star-rating-movie {
  font-size: 24px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  bottom: 375px;
  padding: 0 10px;
}
.Movie-Title {
  font-size: 22px;
  margin: 0px 10px;
  color: white;
}
.year{
  margin: 5px;
  color: #ffffff;
}
.Movie-Description {
  font-size: small;
  margin: 10px 10px 10px 10px;
  color: white;
}
.Movie-List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* add button */
.add-movie {
  text-align: center;
}
.Add-btn {
  border-radius: 5px;
  background-color: lightseagreen;
  border: transparent;
  color: white;
  font-size: 20px;
  padding: 8px 20px;
  margin: 30px 40px;
  cursor: pointer;
  width: 200px;
  height: 100px;
  font-size: 30px;
}
.Add-btn:hover {
  background-color: rgba(32, 178, 170, 0.8);
}
.Add-btn:focus {
  outline: 0;
}
.stars {
  color: gold;
  font-size: 20px;
  padding-left: 5px;
}
.stars:hover {
  cursor: pointer;
}
/* add movie modal */
.add-modal {
  position: relative;
  top: 2.5%;
  left: 35%;
  padding: 20px;
  width: 500px;
  text-align: center;
}
form h1 {
  text-decoration: underline;
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
form input {
  width: 98%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
  color: grey;
  padding-left: 10px;
  margin-top: 10px;
}
form label {
  margin-top: 20px;
}
form input:focus {
  outline: 0;
}
/* modal Buttons */
.Modal-btn {
  border-radius: 5px;
  background-color: lightseagreen;
  border: transparent;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}
.Modal-btn:hover {
  background-color: rgba(32, 178, 170, 0.8);
}
.Modal-btn:focus {
  outline: 0;
}
.desc{
  margin-top: 50px;
  display: flex;
  margin: auto;
  max-width: 1366px;
}
.descrip{
  margin-top: 50px;
  margin-bottom: 50px;
}
.Movie-Description-informations{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  background-color: rgba(184, 243, 240, 0.897);
}
.Movie-Description-Image{
height: 40%;
width:40%;
}
.Movie-Description-informations p {
  font-size: 20px;
  text-align: center;
  margin: auto;
}
.Movie-Description-informations h1 {
  font-size: 30px;
  color: #1e1b26;
  text-align: center;

}
.Movie-Description-informations h2 {
text-align: center;
margin-top: 0px;
}
.Movie-Description-informations h4{
  color: #1e1b26;
  text-align: center;
  margin: auto;
}

.back{
  text-align: center;
  
}
.back-btn{
  border-radius: 5px;
  background-color: lightseagreen;
  border: transparent;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  margin-top: 15px;
}
.back-btn:hover {
  background-color: rgba(32, 178, 170, 0.8);
}
.back-btn:focus {
  outline: 0;
}
.trailer{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.description-btn{
  border-radius: 5px;
  background-color: lightseagreen;
  border: transparent;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}
.description-btn:hover {
  background-color: rgba(32, 178, 170, 0.8);
}
.description-btn:focus {
  outline: 0;
}
.star{
  text-align: center;
  margin-top: 10px;
}